/* ------------- =General -------------- */

html {
  line-height: 1.5;
  font-family: Georgia, serif;
  box-sizing: border-box;
  text-align: center;
  color: #2f2d13;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  font-size: 1.875rem;
  color: #b20953;
  padding: 0 .75em;
  text-align: left;
  margin: 0 0 1.5rem;
}

img {
  display: block;
  width: 100%;
}

.image {
  display: inline-block;
  padding: 0 .75em;
  vertical-align: middle;
}

figure {
  margin: 0;
}

.text {
  text-align: left;
  margin: .3em;
  max-width: 25em;
  padding: 0 .75em;
  vertical-align: middle;
}

p {
  margin: 0 0 1.5rem;
  margin-top: 1.5rem;
}

/* ------------- =heading -------------- */

h1 {
  font-family: "Sigmar One", sans-serif;
  text-align: center;
  font-size: 3rem;
  color: #b20953;
  margin: 0;
}

/* ------------- =navigation-------------- */

header {
  display: block;
  background-color: #ffe500;
  margin-bottom: 1.5rem;
}

nav ul {
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 0;
}

.cards li {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  margin-bottom: .3em;
  list-style-type: none;
  text-align: center;
  border-radius: 4px;
}

.cards a:hover {
  background-color: #cc1465;
}

nav a.current {
  background-color: #b20953;
}

/* ------------- =footer-------------- */

footer {
  display: block;
  background-color: #ffe500;
  padding: .75em;
  bottom: 0;
  width: 100%;
}

footer p {
  display: block;
  font-size: .75rem;
  margin: 0;
  padding: .75em;
}
