/* ------------- =General -------------- */

html {
  line-height: 1.5;
  font-family: georgia;
  font-size: 1.125rem;
  box-sizing: border-box;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0em;
}

h2 {
  font-family: "sigmar one";
  font-size: 1.875rem;
  color: #b20953;
}

img {
  display: block;
  width: 100%;
}

.image {
  display: inline-block;
  padding: .75em;
  vertical-align: middle;
}

.text {
  display: inline-block;
  text-align: left;
  margin: .3em;
  max-width: 25em;
  padding: 0 .75em;
  vertical-align: middle;
}

/* ------------- =heading -------------- */

h1 {
  font-family: "sigmar one";
  text-align: center;
  font-size: 3rem;
  color: #b20953;
  margin: 0;
}
/* ------------- =navigation-------------- */

header {
  display: block;
  background-color: #ffe500;
}

nav ul {
  vertical-align: middle;
  text-align: center;
  padding: 0em;
  margin: 0em;
}

.cards li {
  display: inline-block;
  background-color: #b2a212;
  margin-bottom: .3em;
  list-style-type: none;
  text-align: center;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
  padding: .2em .5em .3em;
}

.cards li:hover {
    background-color: #cc1465;
  }

nav .current {
  background-color: #b20953;
}

/* ------------- =footer-------------- */

footer {
  display: block;
  background-color: #ffe500;
  padding: 0 .75em;
  bottom: 0em;
  width: 100%;
}

footer p {
  display: block;
  font-size: .75rem;
  margin: 0em;
  padding: .75em;
}
